{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="mb-4 mt-3">
        <h1>New Question</h1>
    </div>
    <div class="ask-form">
        <form method="POST" action="{% url 'ask' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger mb-3">
                    {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% for field in form %}
                <div class="mb-3 d-flex justify-content-between gap-2">
                    <label class="col-form-label">{{ field.label }}</label>
                    <div class="flex-grow-1" style="max-width: 80%;">
                        {{ field }}
                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% if field.errors %}
                            <div class="form-text text-danger">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            
            <button type="submit" class="mt-2 btn btn-success">ASK!</button>
        </form>
    </div>
{% endblock %}
