{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="mb-4 mt-3">
        <h1>New Question</h1>
    </div>
    <div class="ask-form">
        <form>
            <div class="mb-3 d-flex justify-content-between gap-2">
                <label class="col-form-label">Title</label>
                <input class="form-control" maxlength="100" placeholder="For example, how to build a nuclear power plant?">
            </div>
            <div class="mb-3 d-flex justify-content-between gap-2">
                <label for="answer-text" class="col-form-label">Text</label>
                <textarea id="answer-text" class="form-control" maxlength="512" placeholder="For example, how to start building a nuclear power plant for free and without registration?"></textarea>
            </div>
            <div class="mb-3 d-flex justify-content-between gap-2">
                <label class="col-form-label">Tags</label>
                <input class="form-control" maxlength="64" placeholder="For example, Ruby, C++">
            </div>
            <button class="mt-2 btn btn-success">ASK!</button>
        </form>
    </div>
{% endblock %}
