{% extends "base.html" %}
{% load static %}
{% block content %}
    <article class="d-flex mt-3 gap-2 flex-column">

        {% include "question.html" %}

        <hr class="hr">
        {% include "pagination.html" %}

        {% for answer in answers %}
            {% include "answer.html" %}
        {% endfor %}

        <hr class="hr">
        <div class="answer-area">
            <form>
                <div class="mb-3">
                    <label class="col-form-label">Do you have answer?</label>
                    <textarea id="answer-text" class="form-control" placeholder="Enter your answer here."></textarea>
                    <button class="mt-2 btn btn-success">Answer</button>
                </div>
            </form>
        </div>

    </article>
{% endblock %}
